body {
  background-image: url(img/bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: azure;
}

header {
  position: relative;
  top: 60px;
  left: 80px;
  width: 400px;
  height: 100px;
}

.img {
  position: absolute;
  top: 120px;
  right: 100px;
}
